/* paleta de colores 
#071013
#2385D3
#75ABBC
#A2AEBB
#DFE0E2
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit, serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    background-image: linear-gradient(to right, white, rgba(171, 217, 243, 255) );
    border: black 6px solid;
    font-size: 50px;
}

h2 {
    color: rgb(212, 177, 134);
    padding: 3px;
}

/* header */

 .cabeza {
    background-color: rgba(171, 217, 243, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cabeza img {
    width: 250px;
    padding: 15px;

}

.cabeza ul {
    list-style: none;
    display: flex;
    border: 5px;
}

.cabeza li {
    margin: 48px;
    width: 15%;
    position: relative;
    font-size: 24px
}

.cabeza ul ul {
    position: absolute;
    display: none;
}

.cabeza ul ul li {
    display: block;
}

.cabeza ul li:hover ul {
    display: block;
}


.cabeza a,
.footer a {
    color: #DFE0E2;
    text-decoration: none;
}

.cabeza a:hover,
.footer a:hover {
    color: #75ABBC;
    font-weight: bold;
} 



/* fotos de galeria grid */

.fotosGrid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(1, 1fr);
    align-items: center;
    align-content: center;

}

.fotosGrid1 img {
    width: 50%;

}

/* fotos del index */

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.fotos img {
    width: 300px;
    margin-left: 15px;
}

/* eventos del index */

.evento2 {
    display: inline-block;
    background-color: rgba(171, 217, 243, 255);
    width: 340px;
    height: 271px;
    padding: 36px;
    margin: 20px;
}

.evento1 {
    display: inline-block;
    background-color: rgba(171, 217, 243, 255);
    width: 312px;
    height: 269px;
    padding: 36px;
    margin: 20px;
}

.eventos {
    background-color: bisque;
    padding: 20px;
    margin: 0px;

}

.videos {
    background-color: rgba(255, 228, 196, 0.61);

}

/* que somos? */

.queSomos{
    display: inline-block;
    background-color: bisque
}

.queSomos p{
    background-color:rgba(171, 217, 243, 255); 
    text-align: center;

}

/* hoja de contacto */

.registrate{
    background-color: bisque;
    text-align: center;
    padding: 20px;
    margin: 0px;
    

}

.registrateForm{
    display: inline-block;
    background-color: rgba(171, 217, 243, 255);
    width: 417px;
    height: 361px;
    padding: 36px;
    margin: 20px;
}



/* productos */

.productosGrid ul li{
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
}
    


.productosGrid img{
    width: 20%;
    margin-left: 15px;
   
}




/* footer */
.footer {
    background-color: #071013;

}

.footer a {
    margin: 15px;
    width: 15%;
    position: relative;
    font-size: 24px
}

.footer img {
    width: 250px;
    padding: 15px;

}

/* banner */

#banner {
    width: 100%;
    
}



@media (max-width: 961px){
    .cabeza{
        flex-direction: column;
        background-color: rgba(171, 217, 243, 255);
        
    }
    .cabeza img {
        width: 200px;
        padding: 10px;
        
    
    }

    
}